body {
  background-color: ##F7F7F7;
  width: 100vw;
  height: 100vh;
}

/*.pie {
  margin: 0 auto;
  width: 75vw;
  height: 75vh;
}*/

.container {
  margin: 0;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 55%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    /*border: 1px solid red;*/
}

.button {
  text-align: center;
}

svg {
  /*width: 100%;
  height: 100%;
text-align: center;*/

}

path.slice {
	stroke-width: 2px;
}

polyline {
	opacity: 0.3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.brd {
  border: 1px solid red;
}
